# Code examples to help with Lab 04

In [ ]:
from datascience import *
import numpy as np

# needed for plotting with datascience module
%matplotlib inline
import matplotlib.pyplot as plots
#plots.style.use('fivethirtyeight')

from IPython.display import display, Image

In [ ]:
ranking = Table.read_table("data/world_university_rankings.csv")

In [ ]:
ranking

### are.contained_in and are.containing

In [ ]:
# lists everything that has "United" in it
ranking.where("location", are.containing("United"))

In [ ]:
ivies = ["Harvard University", "Yale University", "Columbia University"]

In [ ]:
# lists everything that's in ivies
ranking.where("ranking-institution-title", are.contained_in(ivies))

### tbl.group()

In [ ]:
teaching = ranking.select("location", "Teaching Score")
teaching

In [ ]:
# group gives counts by default
# notice there are 3 universities in Chile
teaching.group("location")

In [ ]:
# it can do other things, like get the max of all scores for a single location
teaching.group("location", max)

In [ ]:
teaching.group("location", min)

In [ ]:
# here are the teaching scores for the 3 Chilean universities
# notice the min is 13.4 and max is 20.4, and then look at the Chile rows in the min and max tables
teaching.where("location", "Chile")

In [ ]:
min(20.4, 19.3, 13.4)

In [ ]:
max(20.4, 19.3, 13.4)

In [ ]:
# This will work for any function!!!

### tbl.barh()
#### Good for labels that have numerical values

In [ ]:
ireland = ranking.where("location", "Ireland")
ireland

In [ ]:
# plot ranking-institution-title on the y-axis and teaching score on the x-axis
ireland.barh("ranking-institution-title", "Teaching Score")

### tbl.scatter()
#### Good for two columns of numerical data

In [ ]:
two_cols = ranking.select("rank", "Teaching Score")

In [ ]:
# rank on x-axis, teaching score on y-axis
two_cols.scatter("rank", "Teaching Score", fit_line=True) # optional best fit line

### tbl.hist()
#### Good for one column of numerical data

In [ ]:
ranking.hist("Teaching Score", bins=np.arange(0, 100, 5)) # bins from 0-100, every 5

In [ ]:
ranking.hist("Teaching Score", bins=10) # 10 bins over the range of the data

### Do you know these other concepts?
* bell curves
* skew
* mean, median, mode
* range