In [18]:
%load_ext jupyter_ai_magics
import os
import json 

# Construct the path to creds.json
creds_path = os.path.join(os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd()))), 'creds.json')

if os.path.exists(creds_path):
    print(f"found credentials file at {creds_path}")
    with open(creds_path, 'r') as f:
        creds = json.load(f)
    os.environ['OPENAI_API_KEY'] = creds['OPENAI_API_KEY']
else:
    print(f"Credentials file not found at {creds_path}")

The jupyter_ai_magics extension is already loaded. To reload it, use:
  %reload_ext jupyter_ai_magics
found credentials file at /share/edc/home/antonis/TA/CS_5A_fall24/creds.json

In [19]:
from datascience import *
import numpy as np

### Conditionals and Iterations

**Q1:** You are given some data about the daily profits of a company below. Can you count the number of days where:

1. the profits are BOTH multiple of 5, and even? 
2. check if any day has a profit below 10? Print your results.

In [20]:
profit = [5, 10, 13, 18, 21, 27, 35, 40]

### Functions

**Q2:** Create a function that takes 2 numbers as input and returns their sum.

**Q3:** Create a function that categorizes universities based on their research score:
   'Excellent' for scores 90 and above, 'Good' for scores between 80 and 90,
   and 'Average' for scores below 80. Apply this function to create a new column
   in the universities table.

In [21]:
# First load the data!
universities = Table.read_table('../data/world_university_rankings-Copy1.csv')

In [22]:
universities.show(5)

In [23]:
universities = universities.select('name', 'research')
universities

def categorize_university(research_score):
    if research_score >= 90:
        return 'Excellent'
    elif research_score >= 80:
        return 'Good'
    else:
        return 'Average'

universities = universities.with_column('category', universities.apply(categorize_university, 'research'))
universities

"""
Note: Language model solution wrong. It tries to use a column that does not exist.
Why do you think that happens?
"""

ValueError: The column "name" is not in the table. The table contains these columns: rank, ranking-institution-title, location, Overall scores, Research Quality Score, Industry Score, International Outlook, Research Environment Score, Teaching Score

**Q4:** Write a function that finds the university with the highest research score
   for each country. How would you use this function with the universities table?

In [24]:
%%ai gpt4
what's your name?

My name is OpenAI.